.main{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 16fr 1fr;
    grid-template-areas: "navigasi navigasi navigasi banner"
                        "iklan content content banner"
                        "iklan content content banner"
                        "footer footer footer footer";
    height: 100vh;

}
.navigasi{
    
    background: green;
    grid-area: navigasi;
}
.banner{
    
    background-color: red;
    grid-area: banner;
}
.content{
    
    background-color: blue;
    grid-area: content;
}
.footer{
    
    background-color: blueviolet;
    grid-area: footer;
}

.iklan{
    background-color: gold;
    grid-area: iklan;
}