.main {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 16fr 1fr;
  grid-template-areas:
    'navigasi navigasi navigasi banner'
    'iklan content content banner'
    'iklan content content banner'
    'footer footer footer footer';
  height: 100vh;
  row-gap: 10px;
  column-gap: 20px;
}
.navigasi {
  background: green;
  grid-area: navigasi;
}
.satu {
  width: 80px;
  height: 80px;
  background-color: salmon;
}

.dua {
  width: 80px;
  height: 80px;
  background-color: indigo;
}
.tiga {
  width: 80px;
  height: 80px;
  background-color: plum;
}
.empat {
  width: 80px;
  height: 80px;
  background-color: palevioletred;
}
.lima {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.banner {
  background-color: red;
  grid-area: banner;
}

.center {
  width: 80px;
  height: 80px;
  background-color: black;
}
.content {
  background-color: blue;
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: blueviolet;
  grid-area: footer;
}

.iklan {
  background-color: pink;
  grid-area: iklan;
}
